dist
build
.build
logfile
.nyc_output
coverage

.git/*
.DS_Store
.npmrc
.yarnclean
.eslintignore
.prettierignore
.upignore
.npmignore
.gitignore
.dockerignore
.yarnrc
.haxt
.flowconfig
.firebaserc
.graphqlconfig
.editorconfig
.next
_next

license
yarn.lock
Dockerfile.*
Dockerfile

_env*ac
.env.*
*.env
*.ico
*.html
*.xml
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
*.out
*.dms
*.sh
*.tar.gz
*.pem
*.jpg
*.gif
*.graphcool
*.re
*.wasm
*.yml
*.toml
*.jar
*.zip

### Application Specific ###
add/*
audit/*
autoclean/*
bin/*
cache/*
check/*
config/*
create/*
exec/*
generate-lock-entry/*
global/*
import/*
info/*
init/*
install/*
licenses/*
link/*
list/*
node/*
outdated/*
owner/*
pack/*
policies/*
publish/*
remove/*
run/*
tag/*
team/*
unlink/*
unplug/*
upgrade/*
upgrade-interactive/*
why/*
workspace/*
workspaces/*
version/*
versions/*
_fallback/*
_handler/*